
header {
  background: linear-gradient(to right, #0D0D0D, #0d0d0db3); ;
  padding: 20px 0;
  width: 100%;
   box-shadow: #A69256 0px 4px 8px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 40px;
}

header nav ul li a {
    color: #F2F2F2;
}

header nav ul li a:hover {
    color: #A69256;
}

body {
   background-image: url(img/fondo.jpg);
   background-size: cover;
   background-position: center;
   height: 30vh;
   background-repeat: no-repeat;
}

body{
   background-color: #0D0D0D;
}

.card-presentacion {
    display: flex;
    align-items: center;
    gap: 30px   ;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background-color: #A6A6A6;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.foto-perfil img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid  #0D0D0D;
    border-radius: 50%;
    box-shadow: #0D0D0D 0px 4px 8px;
}

.card-info h2 {
    max-width: 500px;
    color: #404040;
}

.card-info p {
    max-width: 500px;
    color:#404040 ;
}


h1 {
  font-family: "Castoro Titling", serif;
  font-weight: 800;
  font-style: normal;
}


h2 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

p  {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.separador {
 background-color: #0D0D0D;
 width: 100% ;
 height: 40px ;
 border-radius: 20px;
 box-shadow: #A69256 0px 4px 8px;
}
.separador h2 {
  font-size: 30px;
  padding-top: 5px ;
  text-align: center ;
  color: #F2F2F2;
}

.mi {
    height: 100px ;
    align-items: center;
    gap: 30px   ;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background-color: #A6A6A6;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
.mi p{
    text-align: center;
    color:#404040 ;
}



.galeria-s {
 background-color: #0D0D0D;
 width: 100% ;
 height: 40px ;
}
.galeria-s h2 {
  font-size: 40px;
  padding-top: 10px ;
  text-align: center ;
  color: #F2F2F2;
  text-shadow: #A69256 2px 2px 4px;
}

.fondo-galeria {
      background-image: linear-gradient(rgba(0, 0, 0, 0.661), rgba(0, 0, 0, 0.5)),
    url(img/fondo-galeria.jpg);
    background-repeat: repeat;
    background-position: center;
}

.fotos-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    padding: 20px;

}
.fotos-galeria img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 7px solid #0D0D0D;
    box-shadow: #0D0D0D 0px 4px 8px;
}
.fotos-galeria img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.hab{
 background-color: #0D0D0D;
 width: 100% ;
 height: 40px ;
 border-radius: 20px;
 box-shadow: #A69256 0px 4px 8px;
}
.hab h2 {
  font-size: 30px;
  padding-top: 5px ;
  text-align: center ;
  color: #F2F2F2; 
}
.hab-img {
    margin: 20px auto;   
    text-align: center;
    background-color: #A6A6A6;
    padding: 20px;
    border-radius: 100px;
    width: 100px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.c-izq, .c-der {
   width: 45%;
}

.contact p {
    color: #0D0D0D;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: #A69256 2px 2px 4px;
}

.contact ul {
    list-style: none;
    padding: 0;
}  

.contact ul li a {
    color: #F2F2F2;
    text-decoration: none;
}
.contact ul li a:hover {
    color: #A69256;
}

footer {
  
 background-image: url(img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #0D0D0D , #0d0d0db3);  ;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: #F2F2F2;
}

@media (max-width: 768px) {

    header nav ul {
       font-size: 14px;
       justify-content: center;
       gap:10px

    }

nav ul li {
       text-align: center;
    }

    .card-presentacion {
        flex-direction: column;
        text-align: center;
    }

    .foto-perfil img {
        width: 200px;
        height: 200px;
    }

    .mi {
    height: 250px;
    }
   
    .fotos-galeria img {
        width: 100%;
        height: auto;
    }

    .footer-content {
       font-size: 14px;
       justify-content: center;
       gap:10px
    }

}